body {
    background-color: #121220;
    font-family: Quicksand;
  }
  
.ust-menu {
    /*background-color: rgb(133, 123, 123);*/
    position: relative;
    height: 4rem;
  }
  
.logo {
    margin-left: 5rem;
    height: 4rem;
    width: 4rem;
  }
  
.slogan {
    color: #a3a4a6;
    position: absolute;
    font-family: 'Playfair Display', serif;
    margin-top: 1.3rem;
    margin-left: 6rem;
    font-size: 1.2rem;
  }

.ust-cizgi {
    margin-top: 1rem;
    opacity: 31%;
    /*width: 95rem;*/
    }

.gunluk {
    background-color: #D8A969;
    width: 1000px;
    height: 800px;
    margin-top: 50px;
    border-radius: 40px;
}

.baslik {
    position: absolute;
    margin-left: -450px;
    margin-top: 50px;
    width: 450px;
    height: 50px;
    font-size: 30px;
    border: solid #D8A969;
    background-color: #D8A969;
}

.icerik {
    position: absolute;
    margin-left: -450px;
    margin-top: 130px;
    height: 540px;
    width: 890px;
    font-size: 20px;
    border: solid #D8A969;
    background-color: #D8A969;
}

.tarih {
    position: absolute;
    margin-left: 280px;
    margin-top: 50px;
    height: 50px;
    font-size: 20px;
    border: solid #D8A969;
    background-color: #D8A969;
}

.kaydet {
    position: absolute;
    margin-left: 300px;
    margin-top: 700px;
    height: 50px;
    width: 160px;
    font-size: 20px;
    border-radius: 20px;
    border: solid #EDCB9D;
    background-color: #EDCB9D;
}

.gunlugum {
    position: absolute;
    margin-left: 323px;
    margin-top: -96px;
    height: 50px;
    width: 160px;
    font-size: 20px;
    border-radius: 20px;
    border: solid #EDCB9D;
    background-color: #EDCB9D;
}

.h1 {
    color: whitesmoke;
    margin-top: 45px;
    font-family: 'Lexend Deca', sans-serif;

}

.gunluk1 {
    background-color: #D8A969;
    width: 1000px;
    height: 800px;
    margin-top: 50px;
    border-radius: 40px;
}

.baslikspan {
    position: absolute; 
    font-size: 30px;
    margin-left: -460px;
    margin-top: 36px;
    color: #ff3300;  
    width: 600px;
    height: 70px;
    text-align: left;
    font-family: 'Lexend Deca', sans-serif;
}

.icerikspan {
    width: 57rem;
    max-height: 646px;
    overflow: auto;
    margin-top: 5rem;
    font-size: 20px;
    text-align: left;
    word-wrap: break-word;
    font-family: 'Lexend Deca', sans-serif;
}

.tarihspan {
    position: absolute;
    font-size: 20px;
    margin-left: 271px;
    margin-top: 30px;
    color: aliceblue;
    width: 15rem;
    height: 3rem;
    font-family: 'Lexend Deca', sans-serif;
}

.gduzen {
    position: absolute;
    margin-left: 230px;
    margin-top: 560px;
    height: 50px;
    width: 230px;
    font-size: 20px;
    border-radius: 20px;
    border: solid #EDCB9D;
    background-color: #EDCB9D;
}

