body {
    background-color: #121220;
    font-family: Quicksand;
  }
  
.ust-menu {
    position: relative;
    height: 4rem;
  }
  
.logo {
    margin-left: 5rem;
    height: 4rem;
    width: 4rem;
  }
  
.slogan {
    color: #a3a4a6;
    position: absolute;
    font-family: 'Playfair Display', serif;
    margin-top: 1.3rem;
    margin-left: 6rem;
    font-size: 1.2rem;
  }

.ust-cizgi {
    margin-top: 1rem;
    opacity: 31%;
    }

.baslik {
    color: whitesmoke;
    padding-left: 40px;
    margin-top: -340px;
    position: absolute;
    border-radius: 10px;
}

.metin {
    color: whitesmoke;
    margin-left: 40px;
    margin-top: -240px;
    position: absolute;
    border-radius: 10px;
}


.fotograf {
    color: whitesmoke;
    padding-left: 40px;
    margin-top: -315px;
    position: absolute;
    border-radius: 10px;
    border-color: red;
    border-width: 20px;
    width: 200px; 
    right: 0; 
}

.yayinla {
    color: whitesmoke;
    position: absolute;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 700px;
}

p {
    color: whitesmoke;
}

.fotograf input[type="file"] {
    position: absolute;
    font-size: 400px; 
    opacity: 0;
    right: 0;
    top: 0;
    width: 6rem;
    height: 20rem;
}

.fotograf label {
    cursor: pointer;
    display: block;
    background-color: #62698B;
    color: white;
    padding: 50px 115px; 
    border-radius: 10px;
    border-color: whitesmoke;
    border-width: 15px;
    border: 4px solid #62698B;
}
.fotograf {
    color: whitesmoke;
    padding-left: 20px; 
    margin-top: -315px;
    position: absolute;
    border-radius: 10px;
    border-color: red;
    border-width: 20px;
    width: 300px; 
    right: 45px; 
}


.fotograf label {
    padding: 30px 50px; 
}

.fotograf input[type="file"] {
    width: 100%; 
}


.label {
    font-size: 150px;
}

.fotograf:hover label {
    background-color: #1c1d47;
}

.yayinlaborder:hover {
    background-color: #1c1d47;
}
#kategoriler {
    position: absolute;
    margin-left: 135px; 
}


.yaziktgr {
    margin-left: 370px;
    margin-top: 360px;
}

.metinborder {
    border-radius: 10px;
    background-color: #62698B;
    width: 528.5px;
    height: 420px;
    margin-top: 10px;
    border: 4px solid #62698B;
}

.baslikborder {
    border-radius: 10px;
    background-color: #62698B;
    height: 40px;
    width: 528.5px;
    margin-top: 10px;
    border: 4px solid #62698B;
}

.yayinlaborder{
    border-radius: 10px;
    background-color: #62698B;
    color: whitesmoke;
    border-color: whitesmoke;
    height: 100px;
    width: 200px;
    border: 4px solid #62698B;
}

.kategoriborder {
    border-radius: 10px;
    background-color: #62698B;
    color: whitesmoke;
    height: 40px;
    width: 320px;
    text-align: center;
    border: 4px solid #62698B;
}


.bilgiler {
    border: 4px solid #62698B;
    position: absolute;
    height: 600px;
    width: 1000px;
    margin-left: 280px;
    margin-top: 75px;
    border-radius: 10px;

}

span {
    margin-right: 480px;
}

.yenikayit {
    color: whitesmoke;
    margin-top: 80px;
    margin-left: 800px;
    font-size: 25px;
}
